body{
	padding: 10px;
	margin: 0px;
}

#nav-page-list li{
	padding: 4px 10px 4px 15px;
	color: #323232;
	border: 1px solid #cecece;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

#nav-page{
	/* padding-top: 36px; */
	padding-bottom: 15px;
	  flex: 1 1 auto;
	  position: relative;
	  overflow-y: auto;
	  height: calc(100% - 70px);
	  /* margin: 40px auto 30px auto; */
}
#nav-page-list {
	margin-top: 0px;
	padding: 0;
}

.App {
  text-align: center;
}

#nav-page-list .focus{
	color: #fff;
	background: #F37920;
	border: 1px solid #F37920;
}
.focus{
	background: #F37920;
	border: 1px solid #F37920;
}
#add-contact{
	display:block;
}
.send_to{
	font-size: 16px;
    padding-bottom: 0;
    margin: 5px 0px 0px 5px;
    color: #d3d3d3;
    text-align: left;
}
.send_to span{
	display: block;
	color:#323232;
}
textarea {
	margin: 5px;
	margin-bottom: 10px;
	background-color: #d3d3d3;
	border: 0;
	width: calc(90% - 20px);
	resize: none;
	outline: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
