.infoLine{
	border: 1px solid #ccc;
}
.columnContent{
	display: flex;
}
.columnContent div{
	 text-align:center;
	 border: 1px solid green;
}
.columnContent div:nth-child(1){
	 width: 40%;
	 padding: 0 0 0 10px;
	 text-align:left;
}
.columnContent div:nth-child(2){
	 width: 20%;
}
.columnContent div:nth-child(3){
	 width: 40%;
	 padding: 0 10px 0 0;
	 text-align:right;
}